*{
    margin:0;
    padding:0;
    list-style:none;
}
body.html{
    width: 1349px;
    height:auto;
}
/*---------------内容框----------------------*/
.header{
    width:1349px;
    height:auto;
}
.header .logo{
    width:100%;
    height:200px;
    background:rgba(0,0,0,.5);
}
.header .logo .logo-left{
    width:350px;
    height:100%;
    float:left;
    text-align: center;
    border:1px solid #3c3c3c;
    box-sizing: border-box;
}
.header .logo .logo-left span{
    width:100%;
    height:100%;
    line-height: 200px;
    color:lightgray;
    font-family: '楷体';
    font-size:50px;
}
.header .logo .logo-right{
    width:999px;
    height:100%;
    float:right;
}
.header .logo .logo-right .search{
    width:100%;
    height:100%;
    text-align:center;
    line-height:150px;
    background-color: #3c3c3c;
}
.header .logo .logo-right .search input[type=text]{
    width:700px;
    height:89px;
    border-radius: 50px;
}
.header .logo .logo-right .search input[type=button]{
    width:100px;
    height:89px;
    border-radius: 20px;
}
/*---------------内容框----------------------*/
/*---------------底部吸顶导航栏----------------------*/
.nav{
    width:1349px;
    height:150px;
    background-color:yellow;
    position: fixed;
    left:0;
    bottom: 0;
}
/*---------------底部吸顶导航栏----------------------*/
