*{
    margin:0;
    padding:0;
    list-style:none;
    /*border:none;*/
}
body.html{
    width:1349px;
    height:auto;
}
a{
    text-decoration: none;
}
.header{
    width:1349px;
    height:auto;
}
.header .tab-top{
    width:1349px;
    height:auto;
    position: relative;
}
.header .tab-top .dom{
    width:100%;
    height:4300px;
    position: absolute;
    top:0;
    left:0;
    display: none;
    background-color:#cccc;
    font-size:50px;
}
.header .tab-top .dom .logo{
    width:100%;
    height:200px;
}
.header .tab-top .dom .logo .logo-left{
    width:350px;
    height:200px;
    float:left;
}
.header .tab-top .dom .logo .logo-right{
    width:999px;
    height:200px;
    background:url("../image/nav.png");
    float:right;
    text-align: center;
    line-height: 200px;
}
.header .tab-top .dom .logo .logo-right input[type=text]{
    width:500px;
    height:50px;
    border-radius: 50px;
}
.header .tab-top .dom .logo .logo-right input[type=button]{
    width:100px;
    height:50px;
    border-radius: 30px;
}
.header .tab-top .dom .nav{
    width:100%;
    height:600px;
    background-color:#fff;
}
.header .tab-top .dom .nav  .nav-top{
    width:100%;
    height:300px;
}
.header .tab-top .dom .nav  .nav-top li{
    width:150px;
    height:249px;
    float:left;
    margin-left:100px;
    border:1px solid red;
    text-align: center;
    line-height: 249px;
}
.header .tab-top .dom .nav  .nav-bot{
    width:100%;
    height:300px;
}
.header .tab-top .dom .nav  .nav-bot li{
    width:150px;
    height:249px;
    float:left;
    margin-left:100px;
    border:1px solid red;
    text-align: center;
    line-height: 249px;
}
.header .tab-top .dom .advertising{
    width:100%;
    height:200px;
    background-color:#fff;
    margin-top:20px;
}
.header .tab-top .dom .logo2{
    width:1349px;
    height:200px;
}
.header .tab-top .dom .content{
    width:100%;
    height:3000px;
    background-color:#fff;
    margin-top:20px;
}
.header .tab-top .dom .footer{
    width:100%;
    height:100px;
    margin-top:20px;
    position: relative;
}
.header .tab-top .dom .footer .footer-left{
    width:100px;
    height:1px;
    border-bottom:2px solid #fff;
    display: inline-block;
    position: absolute;
    top:49px;
    left:400px;
}
.header .tab-top .dom .footer .footer-center{
    width:400px;
    height:100px;
    color:#fff;
    font-size: 25px;
    font-family: "楷体";
    position: absolute;
    top:0;
    left:500px;
    line-height: 100px;
    text-align: center;
}
.header .tab-top .dom .footer .footer-right{
    width:100px;
    height:1px;
    border-bottom:2px solid #fff;
    display: inline-block;
    position: absolute;
    top:49px;
    left:900px;
}
    /*-----------导航栏选项卡----------------*/
.header .tab-bot{
    width:1349px;
    height:150px;
    position: fixed;
    left:0;
    bottom: 0;
}
.header .tab-bot ul{
    width:1349px;
    height:150px;
    background-color:pink;
    text-align: center;
}
.header .tab-bot ul li{
    float:left;
    width:200px;
    height:100px;
    margin-left:55px;
    border:1px solid red;
    margin-top:25px;
    line-height:100px;
    cursor:pointer;
}
.header .tab-bot ul li.current{
    background-color:blue;
}
